alias home="cd $HOME"
alias config='/usr/bin/git --git-dir=$HOME/.config-bare/ --work-tree=$HOME'
alias dev="cd $HOME/dev"

alias lg="lazygit"

alias cls="clear"
alias l="ls -la --color"
alias nv="nvim"

alias gs="git status"
alias gd="git diff"
alias gl="git log"

alias gb="git branch"
alias gbc="git checkout"
alias gbn="git checkout -b"
alias gbd="git branch -D"

alias ga="git add ."
alias gc="git commit -m"
alias gp="git push"

alias gcp="git cherry-pick"
